<script>
import Vue from 'vue';

export default Vue.extend({
  name: 'ByIndustryCaseStudies',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <section
    class="solution-casestudies"
    :class="{ 'solution-casestudies__charcoal-bg': data.charcoal_bg }"
  >
    <SlpContainer>
      <SlpRow class="row">
        <SlpColumn class="column">
          <SlpRow
            class="column__row"
            :data-aos="data.header_animation"
            :data-aos-duration="data.header_animation_duration"
          >
            <SlpColumn :cols="7">
              <SlpTypography tag="h2" variant="heading3"
                >{{ data.title }}
              </SlpTypography>
            </SlpColumn>

            <a
              class="link-card"
              :href="'/customers/'"
              :data-ga-name="'case studies'"
              :data-ga-location="'header'"
            >
              <SlpButton
                variant="ghost"
                href="/customers/"
                data-ga-name="case studies"
                data-ga-location="header"
                >All case studies
                <SlpIcon
                  class="slp-ml-8"
                  name="chevron-lg-right"
                  variant="product"
                  alt="Chevron Right Icon"
                />
              </SlpButton>
            </a>
          </SlpRow>
          <SlpRow
            v-for="row in data.rows"
            :key="row.subtitle + Math.random()"
            class="column__row--articles slp-flex"
            :data-aos="data.row_animation"
            :data-aos-duration="data.row_animation_duration"
          >
            <SlpColumn :cols="8" size="lg" class="slp-col-md-6">
              <SlpColumn
                :cols="7"
                size="lg"
                class="solution-casestudies__content slp-mr-32"
              >
                <SlpTypography
                  tag="h3"
                  variant="heading4-bold"
                  class="slp-mb-24"
                >
                  {{ row.title }}
                </SlpTypography>
                <SlpTypography tag="h4" variant="heading4">
                  {{ row.subtitle }}
                </SlpTypography>
              </SlpColumn>
            </SlpColumn>

            <SlpColumn class="second-col">
              <a
                class="link-card"
                :href="row.button.href"
                :data-ga-name="row.button.data_ga_name"
                :data-ga-location="row.button.data_ga_location"
              >
                <img
                  :src="row.image.url"
                  :alt="row.image.alt ? row.image.alt : ''"
                />
                <SlpButton
                  variant="ghost"
                  :href="row.button.href"
                  :aria-label="row.button.data_ga_name"
                  :data-ga-name="row.button.data_ga_name"
                  :data-ga-location="row.button.data_ga_location"
                  class="solution-casestudies__link"
                  >{{ row.button.text }}
                  <SlpIcon
                    class="slp-ml-8"
                    name="chevron-lg-right"
                    variant="product"
                    alt="Chevron Right Icon"
                  />
                </SlpButton>
              </a>
            </SlpColumn>
          </SlpRow>
        </SlpColumn>
      </SlpRow>
      <SlpColumn />
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.solution-casestudies {
  padding: $spacing-96 0;

  @media (max-width: $breakpoint-md) {
    padding: $spacing-48 0;
  }

  &__charcoal-bg {
    background-color: $color-surface-800;
  }

  .row {
    .column {
      margin: 0 auto;

      &__row {
        width: 100%;
        margin-bottom: 84px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        &--articles {
          border-top: 1px solid #a2a1a6;
          padding: $spacing-48 0;

          &:last-of-type {
            border-bottom: 1px solid #a2a1a6;
          }

          .second-col {
            height: 263px;
            padding: $spacing-24 0;
            overflow: hidden;
            position: relative;
            z-index: 2;

            @media (max-width: $breakpoint-md) {
              padding-bottom: 0;
              &:hover {
                &::after {
                  background-color: none;
                }

                img {
                  border-bottom-right-radius: 0;
                }
              }
            }

            &::after {
              content: '';
              height: 100%;
              left: $spacing-32;
              position: absolute;
              top: 0;
              width: 100%;
              pointer-events: none;
              transition: background-color 0.3s ease-in-out;
              z-index: 0;
            }

            img {
              border-radius: $spacing-4;
              transition: border-bottom-right-radius 0.3s ease-in-out;
              z-index: 1;
            }

            &:hover {
              &::after {
                background-color: $color-surface-900;
              }

              img {
                border-bottom-right-radius: 100px;
              }
            }
          }
        }

        h2 {
          font-size: $text-heading-2;
          line-height: $line-height-heading-2;
          font-weight: $font-weight-bold;
        }
      }
    }
  }
  .link-card {
    cursor: pointer;
    position: relative;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media (max-width: $breakpoint-md) {
      flex-direction: column;
      justify-content: center;
    }

    img {
      width: 196px;
      height: 215px;
      object-fit: cover;

      @media (max-width: $breakpoint-md) {
        width: 100%;
        height: 281px;
        height: auto;
      }
    }

    a {
      color: $color-text-300;

      @media (max-width: $breakpoint-md) {
        padding-left: 0;
        margin: $spacing-48 0;
      }
    }
  }

  &__link {
    padding: 0 $spacing-16 0 $spacing-32;
    z-index: 1;
  }

  &__content {
    @media (max-width: $breakpoint-md) {
      margin: 0 0 $spacing-32 0;
    }
  }
}
</style>
